#this file should be used to allow requests only from telegram servers and also to not allow access to files and indexing (tested on apache2)

Order Allow,Deny
Deny from all

Options All -Indexes

<Limit POST>
Order Deny,Allow
Deny from all
Allow from 149.154.167.197/32
Allow from 149.154.167.198/31
Allow from 149.154.167.200/29
Allow from 149.154.167.208/28
Allow from 149.154.167.224/29
Allow from 149.154.167.232/31 
</Limit>

<FilesMatch ".(htaccess|htpasswd|ini|phps|fla|psd|log|sh|json)">
Order Allow,Deny
Deny from all
</FilesMatch>

#leaving the last line blank otherwise it may not work
